<h1><%= locals.msg %></h1>
<!-- do not need locals.msg, can use msg, validated -->
<h3><%= locals.validated %></h3>
<!--  <%= means to print to the page, use <%- to escape data to print  -->
<p><%- html %></p>
